html {
  box-sizing: border-box;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 248, 248);
}